<section>
  <article>
    <h3>Data Binding - Interpolaçao</h3>
    <p>
      String renderizada com interpolação: {{ url }}
    </p>
    <p>
      Resultado de 1 + 1 é: {{ 1 + 1}}
    </p>
    <p>
      Resultado de 1 + 1 não é: {{ 1 + 1 + getNumber()}}
    </p>
    <p>
      Curso de Angular é verdadeiro? {{ cursoAngular && getCursoAngular()}}
    </p>

  </article>
    <p>Renderizando com Data Binding</p>
    <img src="{{ urlImage }}">

    <p>Renderizando com Proprierty Bind</p>
    <img [src]="urlImage">

  <article>
    <h3>Class / Style Biding</h3>

    <select #classe (change) = "0">
      <option value="" selected>-</option>
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-danger">Error</option>
    </select>

    <p class="alert {{ classe.value }}">Cor do texto conforme a seleção</p>

    <p class="alert {{ classe.value }}" [style.display]= "classe.value == 'alert-danger' ? 'block' : 'none'" >Apenas aparece quando erro</p>

    <div class="alert" role="alert" [class.alert-success] = "classe.value == 'alert-success' ">
      <strong>SUCESSO</strong>
    </div>
    <div class="alert" role="alert" [class.alert-info] = "classe.value == 'alert-info' ">
      <strong>INFO</strong>
    </div>
    <div class="alert" role="alert" [class.alert-warning] = "classe.value == 'alert-warning' ">
      <strong>WARNING</strong>
    </div>
    <div class="alert" role="alert" [class.alert-danger] = "classe.value == 'alert-danger' ">
      <strong>ERROR</strong>
    </div>

  </article>

  <article>
    <h3>Event Binding</h3>

    <button class="btn btn-info" (click)="botaoClique()">Me clique!</button>
    
    <input type="text"
      (keyup)="onKeyUp( $event )"
      (keyup.enter) = "salvarValor(campoValor.value)"
      (blur) = "salvarValor(campoValor.value)"
      #campoValor
      />
    
    <p>Valor Atual: {{ valorAtual }}</p>
    
    <p>Valor Salvo: {{ valorSalvo }}</p>
    
    <span
    (mouseover)="onMouseOut()"
    (mouseout)="onMouseOut()"
    [class.classeOver]="isMouseOver">
    Passe o mouse sobre mim!</span>
  
  
  </article>

  <div class="pt-4 col-12 mx-auto">
    <article>
    <h3>
      Two Way Data binding
    </h3>
    <ul>
      <li>Valores utilizando Two way Data bind</li>
      <li>Sintaxe Box in banana -> <strong>[()]</strong> <- Banana na Caixa</li>
      <li>O ngModel pertence ao module "FormsModule"</li>
      <li>Pode ser utilizado com variáveis simples quanto com objetos</li>
    </ul>
    <p>
      Utilizando String simples na variável: <input type="text" [(ngModel)]="name" /> -> Valor digitado: {{name}}
    </p>

    <p>Utilizando Objeto:</p>
    <p>Nome digitado {{pessoa.nome}} e a idade é {{pessoa.idade}} </p>
    <p>Nome: <input type="text" [(ngModel)]="pessoa.nome" /> | Idade: <input type="number" [(ngModel)]="pessoa.idade" /></p>
  </article>
  </div>
</section>


<section>
  <article>
    <div class="pt-4 col-12 mx-auto">
      <h3>Input/Output Property</h3>
      <p>Como pode ser utilizado dados de um componete em outro componente com properties binding (@Input)</p>
      <!-- Aqui adiciona o componente do @input -->

      <app-nome-curso [nome]="nomeCurso"></app-nome-curso>

      <contador (mudouValor)="onMudouValor($event)"></contador>
    </div>
  </article>
</section>